body{
    background-color: rgb(236, 243, 250);
}
.container{
    background-color: rgb(228, 192, 192);
    
}
.box-part{
    background-color: rgb(233, 220, 220);
    padding: 50px 50px;
    margin: 30px 10px;
}
.fa{
    color: rgb(49, 46, 221);
}
a{
    border-bottom: 1px solid rgb(49, 46, 221);
}
p{
    font-size: 13px;
}
.box{
    padding: 60px 0px;
}
.box-part{
    background-color: rgb(233, 220, 220);
    margin: 30px 10px;
    padding: 50px 50px;
}